.HomeContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.HomeContainer h1 {
  flex: 1;
}

.empty {
  align-items: center;
  color: #999;
  display: flex;
  justify-content: center;
  user-select: none;
  width: 100%;
}