.container {
  background-color: #ffffff;
  border-bottom-right-radius: 15px;
  border-right: solid 1px var(--cards-border-color);
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 1rem;
  width: 17rem;
}

.title {
  border-bottom: 1px solid #999;
  background: -webkit-linear-gradient(194deg, rgba(207,173,247,1) 0%, rgba(177,64,247,1) 14%, rgba(159,44,207,0.9808298319327731) 44%, rgba(20,37,87,1) 84%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile__container {
  padding: 1rem 0;
}