:root {
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-color: rgb(148,	14, 201);
  --main-color-transparent: rgba(148,	14, 201, 0.75);
  --pure-white: #ffffff;
  --pure-black: #000000;
  --cards-border-color: #cdcdcd;
}

button, input {
  background-color: var(--pure-white);
  border-radius: 7px;
  border: 1px solid #999;
  color: var(--pure-black);
  height: 35px;
  margin-bottom: 10px;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}